---
# We use LLVM as a base because it provides a neutral starting point,
# then we override the specific keys to match VS Code's default style.
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Always

BreakBeforeBraces: Allman

ColumnLimit: 120

IndentCaseLabels: false

# Dedent 'public:', 'private:', etc. so they align with the class definition
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
PointerAlignment: Left

SortIncludes: true
...
