---
BasedOnStyle: Google

# Formatting
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

# Braces
BreakBeforeBraces: Attach

# Order
SortIncludes: true

# Pointers
PointerAlignment: Left # char* data

# Access Modifiers
AccessModifierOffset: -4 # Keep 'public:' aligned with class start

AllowShortFunctionsOnASingleLine: InlineOnly # I hate when it shortens empty
